body{
   background: url(../img/halloween-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.jumbotron{
    background: none;
    font-family: 'Mansalva', cursive;
}
.jumbotron a{
    color:orange;
}
.card {
   opacity: 0.8;
}